/*.mod_bg{*/
    /*background: url("../images/bg_detail.png") 50% 0 repeat-x;*/
/*}*/

img {
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

.recommend_song{
    height: 532px;
    position: relative;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.recommend_song .section{
    width: 1200px;
    height: 532px;
    position: relative;
    /*overflow: hidden;*/
    margin: 0 auto;  /* 表示上下边界为0，左右则根据宽度自适应相同值（即居中） */
}

/*每个版块的头部标题公共样式 start*/
.index_hd{
    position: relative;
    padding-top: 50px;
    padding-bottom: 24px;
}

.index_tit{
    display: block;
    margin: 0 auto;
    width: 196px;
    height: 40px;
    background-image: url("../images/index_tit.png");
}

.icon_txt{
    font:0/0 a;  /*图片按钮的文字隐藏*/

    /*方法：*/
    /*①text-indent: 100%; overflow:hidden;*/
    /*②font: 0/0 a;  overflow:hidden;（字号大小0, 行高0，字体a是因为就一个字母，换成b也是OK的，实际并无a字体。）*/
    /*③ .btn{ background:#f0f0f0 url(obtn.png); letter-spacing:-3em; overflow:hidden; text-align:left;}*/
    /*.btn:first-letter{margin-left:-20em;}*/
}

.recommend_song .index_tit{
    background-position: 0 0;
}
.new_song .index_tit{
    background-position: 0 -50px;
}
.focus .index_tit{
    background-position: 0 -100px;
}
.new_album .index_tit{
    background-position: 0 -150px;
}
.top_list .index_tit{
    background-position: 0 -200px;
}
.mv .index_tit{
    background-position: 0 -250px;
}
/*每个版块的头部标题公共样式 end*/

/*每个版块的切换栏公共样式 start*/
.index_tab{
    height: 50px;
    text-align: center;
}

.index_tab a{
    display: inline-block;
    font-size: 15px;
    margin: 0 24px;
    color: #333333;
}

.index_tab a:hover{
    color: #31c27c;
}
/*每个版块的切换栏公共样式 end*/

.recommend_song .playlist{
    height: 310px;
    margin-right: -20px;
    margin-bottom: 20px;
     overflow: hidden;  /*隐藏功能; 此处隐藏 歌单推荐轮播图 所需图片 */
}

.recommend_song .playlist ul{
    /*width: 1250%;  百分比值始终是以父容器的宽度为基准的*/
    width: 1250%;
    height: 310px;
    position: relative;
}

.recommend_song .playlist ul li{
    float: left;
    position: relative;
    width: 1.6%;
    height: 310px;
    padding-bottom: 0;
    display: inline-block;
    /*overflow: hidden;  hidden :内容会被修剪，并且其余内容是不可见的。*/
    font-size: 14px;
    vertical-align: top;  /*vertical-align 属性设置元素的垂直对齐方式。*/
    /* top :把元素的顶端与行中最高元素的顶端对齐 */
}

.playlist_item_box{
    position: absolute;
    width: 224px;
    height: 283px;
}

.playlist_cover{
    height: 224px;
    width: 224px;
    overflow: hidden; /* 隐藏超出边框的部分 */
}

.playlist_cover a img{
    transition: all .3s;
}

.playlist_cover a img:hover{
    transform: scale(1.2); /* 鼠标移入的时候变大一点点，超出边框的部分隐藏掉 */
}

.playlist_title .playlist_title_txt{
    line-height: 44px;
    font-weight: 400;
}

.js_playlist:hover{
    color: #31c27c;
}

.playlist_other{
    color: #999999;
}

/*滚动小圆圈 start*/
.switch{
    height: 38px;
    width: 1200px;
}

.switch ul{
    height: 12px;
    width: auto;
    display: inline-block;
    position: absolute;  /* 实现轮播图的动画移动需要添加定位 */
    left: 600px;
}

.switch ul li{
    width: 8px;
    height: 8px;
    border-radius: 12px;
    background-color: #c9c9c9;
    /*margin: 0 auto;*/
    float: left;
    margin-right: 20px;
    text-align: center;
}
.switch ul .current{
    background-color: #999999;
}

.rightBtn, .leftBtn{
    display: none;    /*不显示左右按钮 */
    position: absolute;
    top: 220px;
    float: left;
    width: 75px;
    height: 108px;
    /*transition: all .5s; 把鼠标指针放到 div 元素上，其宽度会从 100px 逐渐变为 300px：*/
    transition-duration: .5s;
    text-align: center;
    line-height: 120px;
    color: #333333;
    background: rgba(0,0,0,.05);
    font-size: 30px;
    cursor: pointer;
    /* cursor 属性定义了鼠标指针放在一个元素边界范围内时所用的光标形状 */
    /*pointer 	 光标呈现为指示链接的指针（一只手）*/
}

.rightBtn{
    right: -75px;
}
.leftBtn{
    left: -75px;
}

/*滚动小圆圈 start*/
.switchB{
    height: 38px;
}

.switchB ul{
    height: 12px;
    display: inline-block;
    position: absolute;  /* 实现轮播图的动画移动需要添加定位 */
    left: 630px;
}

.switchB ul li{
    width: 8px;
    height: 8px;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #c9c9c9;
    /*margin: 0 auto;*/
    float: left;
    margin-right: 20px;
    text-align: center;
}
.switchB ul .current{
    background-color: #999999;
}

.rightBtnB, .leftBtnB{
    display: none;   /* 不显示左右按钮 */
    position: absolute;
    float: left;
    width: 75px;
    height: 108px;
    /*transition: all .5s; 把鼠标指针放到 div 元素上，其宽度会从 100px 逐渐变为 300px：*/
    text-align: center;
    line-height: 100px;
    color: #333333;
    background: rgba(0,0,0,.05);
    font-size: 30px;
    cursor: pointer;
    /* cursor 属性定义了鼠标指针放在一个元素边界范围内时所用的光标形状 */
    /*pointer 	 光标呈现为指示链接的指针（一只手）*/
}

.rightBtnB{
    right: 0;
}
.leftBtnB{
    left: 0;
}

/*.recommend_song:hover #rightBtn{*/
    /*right: 0;*/
    /*background-color: #31c27c;*/
/*}*/

/*.recommend_song:hover #leftBtn{*/
    /*left: 0;*/
    /*background-color: #31c27c;*/
/*}*/



/*新歌首发*/
.new_song{
    height: 556px;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.new_song .new_song_list{
    width: 1230px;
    height: 333px;
    margin: 0 auto;
}

.new_song .new_song_list .new_list ul li{
    width: 409.983px;
    height: 111px;
    float: left;
    border-bottom: 1px #c9c9c9;
}

.new_song .new_song_list .new_list ul li .pic{
    display: inline-block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.new_song .new_song_list .new_list ul li a img{
    transition: all .3s;  /* 过渡效果 */
}

.new_song .new_song_list .new_list ul li a img:hover{
    transform: scale(1.1); /* 鼠标移入的时候变大一点点，超出边框的部分隐藏掉 */
    /*transform： 应用于元素的2D或3D转换。 旋转：rotate（）、缩放：scale（）、移动：translate（）、倾斜：skew（）*/
    /*animate：动画效果。*/
}

.new_song .new_song_list .new_list ul li .pic .cover_mask{
    width: 100%;
    height: 100%;
    position: absolute;  /* .pic要position定位 */
    top: 0;
    left: 0;
    transition: all .5s;
}

.new_song .new_song_list .new_list ul li .pic .cover_icon_play{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%; /* 居中 */
    margin: -35px;

    background: url(../images/cover_play.png);
    opacity: 0; /* 设置 div 元素的不透明级别, 从 0.0 （完全透明）到 1.0（完全不透明）。 */
    transform: scale(.7);
    transition: all .7s;
}

.new_song .new_song_list .new_list ul li .song_info{
    width: 189.983px;
    margin-left: 110px;
    margin-top: -70px;
}

.new_song .new_song_list .new_list ul li .song_info h3{
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: 400;
}

.new_song .new_song_list .new_list ul li .song_info p a{
    color: #999999;
}

.new_song .new_song_list .new_list ul li .song_info a:hover{
    color: #31c27c;
}
.new_song .new_song_list .new_list ul li .song_time{
    float: right;
    font-size: 15px;
    margin-right: 25px;
    margin-top: -33px;
    color: #999999;
}

/*精彩推荐*/
.focus{
    height: 418px;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.focus .section .focus_list{
    overflow: hidden;
    width: 1220px;
    height: 246px;
    margin:  0 auto;
}

.focus .section .focus_list ul{
    position: relative;
    font-size: 0;
    width: 1250%;
}

.focus .section .focus_list ul li{
    float: left;
    width: 590px;
    height: 236px;
    padding-right: 20px;
}

.focus .section .focus_list ul li a{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 40%;
}

.focus .section .focus_list ul li a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 590px;
    height: 236px;
}

.new_album{
    height: 813px;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.new_album .section .album_list{
    width: 1220px;
    height: 616px;
    position: relative;
    margin: 0 auto;
}

.new_album .section .album_list ul li{
    width: 244px;
    height: 308px;
    float: left;
}

.new_album .section .album_list ul li .pic{
    display: inline-block;
    width: 224px;
    height: 224px;
    overflow: hidden;
}

.new_album .section .album_list ul li  a img{
    transition: all .3s;  /* 过渡效果 */
    width: 224px;
    height: 224px;
}

.new_album .section .album_list ul li a img:hover{
    transform: scale(1.1); /* 鼠标移入的时候变大一点点，超出边框的部分隐藏掉 */
    /*transform： 应用于元素的2D或3D转换。 旋转：rotate（）、缩放：scale（）、移动：translate（）、倾斜：skew（）*/
    /*animate：动画效果。*/
}

.new_album .section .album_list ul li .song_info{
    margin-top: 15px;
}

.new_album .section .album_list ul li .song_info h3{
    font-weight: 400;
    font-size: 14px;
}

.new_album .section .album_list ul li .song_info p a{
    color: #999999;
}

.new_album .section .album_list ul li .song_info h3 a:hover{
    color: #31c27c;
}

.new_album .section .album_list ul li .song_info p a:hover{
    color: #31c27c;
}

/*排行榜*/
.top_list{
    height: 667.95px;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.top_list .section .top{
    width: 1220px;
    height: 500px;
    margin: 0 auto;
}

.top_list .section .top ul .top_module{
    width: 224px;
    height: 500px;
    float: left;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
}

.top_list .section .top ul li .top_bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*height: 567px;*/
    height: 500px;
    width: 224px;
    transition: all .75s;
    background-image: url("../images/bg_index_top.png");
}

.top_list .section .top ul li:hover  .top_bg{
    transform: scale(1,1);
}

.top_list .section .top ul .top_module .top_line{
    position: absolute;
    left: 50%;
    top: 148px;
    margin-left: -18px;
    width: 36px;
    height: 2px;
    background: #fff;
}

.top_list .section .top ul li .top_hd{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
}

.top_list .section .top ul li .top_hd p{
    color: white;
    font-size: 21px;
    font-weight: 100;
}

.top_list .section .top ul li .top_hd a{
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.top .top_song_list{
    width: 164px;
    height: 222px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 188px;
    left: 30px;
    right: 30px;
}

.top .top_song_list li{
    margin-bottom: 23px;
}

.top .top_song_list li .number{
    position: absolute;
    display: inline;
}

.top .top_song_list li .name{
    margin-bottom: 5px;
    margin-left: 15px;
}

.top .top_song_list li .singer{
    margin-left: 15px;
}

.top .top_song_list li .name a{
    color: white;
}

.top .top_song_list li .singer a{
    color: white;
}

.mv{
    height: 660.3px;
    background: url("../images/bg_detail.png") 50% 0 repeat-x;
}

.mv_list{
    height: 463.3px;
    width: 1220px;
    margin: 0 auto;
}

.mv_list ul li{
    width: 244px;
    height: 231.65px;
    float: left;
}

.mv_list ul li .pic{
    display: inline-block;
    height: 126.65px;
    width: 225.15px;
    overflow: hidden;
}

.mv_list ul li  a img{
    height: 126.65px;
    width: 225.15px;
    transition: all .3s;  /* 过渡效果 */
}

.mv_list ul li a img:hover{
    transform: scale(1.1); /* 鼠标移入的时候变大一点点，超出边框的部分隐藏掉 */
    /*transform： 应用于元素的2D或3D转换。 旋转：rotate（）、缩放：scale（）、移动：translate（）、倾斜：skew（）*/
    /*animate：动画效果。*/
}

.mv_list .mv_info h3{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.mv_list .mv_info p a{
    margin-top: 7px;
    color: #999999;
}

.mv_list .mv_info h3 a:hover{
    color: #31c27c;
}
.mv_list .mv_info p a:hover{
    color: #31c27c;
}

.mv_list .mv_info span{
    margin-top: 7px;
    color: #999999;
}