<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>正儿八经的四六级报名系统</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <!--域名后+"/favicon.ico"即可出现所需站点的ico图标-->
    <link rel="stylesheet" href="/style/basic.css"/>
    <link rel="stylesheet" href="/style/index.css"/>
</head>
<body>
<header>
    <div class="name flex_center">
        <p style="color: gray;margin-top: 40px;font-size: 38px;letter-spacing:10px">请修改信息</p>
        <!--letter-spacing设置字间距-->
    </div>
</header>

<content class="flex_center">
    <form class="sign" action="/edit" method="post">
        <input type="hidden" name="id" value="{{ student._id }}">
        <div class="user_name flex_center form_item_lable">
            <label>
                <input type="text" class="username" name="name" value="{{ student.name }}" placeholder="Username">
            </label>
        </div>
        <div class="flex_center form_item_lable">
            <label>
                <input type="text" class="number" name="number" value="{{ student.number }}" placeholder="Number">
            </label>
        </div>
        <button type="submit" class="flex_center form_item_lable">确认修改</button>
    </form>
</content>

<footer>
    <div class="made flex_center">
        <p style="color: gray">made by lhq</p>
    </div>
</footer>
</body>
</html>