<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>正儿八经的四六级报名系统</title>
    <link rel="stylesheet" href="/style/basic.css"/>
    <link rel="stylesheet" href="/style/show.css"/>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/style/base.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="name flex_center">
        <p style="color: gray;margin-top: 40px;font-size: 38px;letter-spacing:10px">欢迎来到四六级考试报名系统</p>
        <!--letter-spacing设置字间距-->
    </div>
</header>

<content class="flex_center">
    <div class="show flex_center">
        <!--<a class="btn-sign" href="/">继续报名</a>-->
            <div class="table-responsive">
                <a class="btn-sign" href="/">继续报名</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ each students }}
                    <tr>
                        <td>{{ $value.id }}</td>
                        <td>{{ $value.name}}</td>
                        <td>{{ $value.number}}</td>
                        <td>
                            <a href="/edit?id={{ $value.id }}">修改</a>
                            <a href="/delete?id={{ $value.id }}">删除</a>
                        </td>
                    </tr>
                    {{ /each }}
                    </tbody>
                </table>
            </div>
    </div>
</content>

<footer>
    <div class="made flex_center">
        <p style="color: gray">made by lhq</p>
    </div>
</footer>
</body>
</html>